.features-container {
    background: #323232;
    position: relative;
    overflow: hidden;
    z-index: 0;


    .wave {
        position: absolute;
        left: 0;
        bottom: -25%;
        
    }
}

.features {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .cards {
        display: flex;
        color: black;
        justify-content: space-between;
        z-index: 1;
 
        .card {
            background: white;
            margin: 0rem 4rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 2rem;
            overflow: hidden;


            img {
                object-fit: cover;
            }
            h4 {
                margin: 3rem 0rem;
            }

            p {
                padding: 2rem;
            }
        }
    }
}